@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 21, 21, 21;
  --color-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--color-rgb));
  background: rgb(var(--background-rgb));
  font-display: swap;
  overflow-y: auto;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  [type="checkbox"]:checked {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="rgb(254,197,4)" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
